# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
debug
Debug - EOM
results
*.csproj.user
*.pubxml.user

# Visual Studio 2015/2017 cache/options directory
.vs/

# mstest test results
TestResults

# SQL Server backups
*.bak

connectionsconfig.xml

ThirdParty

# other
*.dbmdl
*.suo
*.vssettings

# SSRS
*.rdl.data
*.rptproj.user

# NuGet
packages
